{% extends 'base.html' %}

{% block title %}
ASCII
{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/operation.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<main class="main">
    <div>
        <h2>ASCII</h2>
        <p><b>ASCII</b> - это одна из наиболее распространенных кодировок, которая используется для представления текста и управляющих символов с использованием семи или восьми битов. В кодировке ASCII каждому символу соответствует числовое значение, которое затем представляется в виде байта (8 битов). Эта кодировка включает в себя символы латинского алфавита, цифры, знаки препинания и специальные управляющие символы. Например, буква "A" в кодировке ASCII представлена числом 65.
            ASCII чрезвычайно важна в программировании и обмене данных между компьютерами, так как позволяет однозначно представить символы в виде чисел.</p>
    </div>
    <div class="form">
        <h3>ASCII</h3>
        <form method="post">
            <div class="input-form">
                <textarea name="input" id="input" placeholder="input">{% if input %}{{ input }}{% endif %}</textarea>
            </div>
            <div class="input-form">
                <textarea name="output" id="output" placeholder="output">{% if output %}{{ output }}{% endif %}</textarea>
            </div>
            <div class="radio-btn">
                <input type="radio" name="radio-group" id="encode" value="encode"><label for="encode">Encode</label>
                <input type="radio" name="radio-group" id="decode" value="decode"><label for="decode">Decode</label>
            </div>
            <div class="button">
                <input type="submit" value="Send">
            </div>
            
        </form>
    </div>
</main>
{% endblock %}