{% extends 'base.html' %}

{% block title %}
Base64
{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/operation.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<main class="main">
    <div>
        <h2>Base64</h2>
        <p><b>Base64</b> - это метод кодирования, который используется для преобразования <i>бинарных данных</i> в текстовый формат. Эта кодировка использует <b>64 символа</b>, включая буквы латинского алфавита (заглавные и строчные), цифры и символы "+", "/". Base64 полезна, когда необходимо встраивать бинарные данные, такие как изображения или файлы, в текстовые форматы, например, в <i>электронные письма</i> или <i>URL</i>. <s>Пример кодирования Base64: строка "Hello" преобразуется в "SGVsbG8=".</s></p>
    </div>
    <div class="form">
        <h3>Base64</h3>
        <form method="post">
            <div class="input-form">
                <textarea name="input" id="input" placeholder="input">{% if input %}{{ input }}{% endif %}</textarea>
            </div>
            <div class="input-form">
                <textarea name="output" id="output" placeholder="output">{% if output %}{{ output }}{% endif %}</textarea>
            </div>
            <div class="radio-btn">
                <input type="radio" name="radio-group" id="encode" value="encode"><label for="encode">Encode</label>
                <input type="radio" name="radio-group" id="decode" value="decode"><label for="decode">Decode</label>
            </div>
            <div class="button">
                <input type="submit" value="Send">
            </div>
            
        </form>
    </div>
</main>
{% endblock %}