{% extends 'base.html' %}

{% block title %}
Caesar
{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/operation.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<main class="main">
    <div>
        <h2>Шифр Цезаря или Тарабарщина</h2>
        <p>Зашифровывал свои послания и один из величайших полководцев древности <a href="https://ru.wikipedia.org/wiki/%D0%93%D0%B0%D0%B9_%D0%AE%D0%BB%D0%B8%D0%B9_%D0%A6%D0%B5%D0%B7%D0%B0%D1%80%D1%8C" target="_blank"><b>Гай Юлий Цезарь</b></a>. Он заменял одни буквы другими использовал сдвиг на три символа При шифровании буква верхнего ряда заменяется на соответствующую букву нижнего ряда. А при чтении, наоборот, буква из нижнего ряда заменяется буквой из верхнего.
            Шифр Цезаря — это вид шифра подстановки, в котором каждый символ в открытом тексте заменяется символом, находящимся на некотором постоянном числе позиций левее или правее него в алфавите. Например, в шифре со сдвигом вправо на 3, А была бы заменена на Г, Б станет Д, и так далее . Величину сдвига можно рассматривать как ключ шифрования.
             Похожий способ шифрования использовался и на Руси. Назывался он <i>литерея</i>, от латинского слова «литера»-буква, но чаще его именовали <b>тарабарской грамотой</b> или просто <i>тарабарщина</i>. Этот шифр, в частности , применялся в переписке митрополита Киприана и Сергея Радонежского. Шифр так же заключался в замене букв нижнего ряда на верхний.</p>
    </div>
    <div class="form">
        <h3>Caesar</h3>
        <form method="post">
            <div class="input-form">
                <textarea name="input" id="input" placeholder="input">{% if input %}{{ input }}{% endif %}</textarea>
            </div>
            <div class="input-form">
                <textarea name="output" id="output" placeholder="output">{% if output %}{{ output }}{% endif %}</textarea>
            </div>
            <div class="key">
                <input type="number" name="key" id="key" placeholder="Key">
            </div>
            <div class="radio-btn">
                <input type="radio" name="radio-group" id="encrypt" value="encrypt"><label for="encrypt">Encrypt</label>
                <input type="radio" name="radio-group" id="decrypt" value="decrypt"><label for="decrypt">Decrypt</label>
            </div>
            <div class="button">
                <input type="submit" value="Send">
            </div>
            
        </form>
    </div>
</main>
{% endblock %}