{% extends 'base.html' %}

{% block title %}
CryptoMaster
{% endblock %}

{% block head %}
<link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">
<link href="{{ url_for('static', filename='css/CryptoMaster.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<main>
    <div class="main">
        <h2>Приветствуем вас на сайте CryptoMaster</h2><br>
        <b>В CryptoMaster мы стремимся поделиться нашими знаниями о криптографии, расширить ваш взгляд на мир шифров и безопасности, а также помочь вам использовать этот потрясающий инструмент в цифровой эпохе.</b>
        <b>Узнайте больше о мире криптографии и криптоанализа с нашим приложением. Мы предоставляем вам мощные инструменты для анализа и расшифровки шифрованных сообщений.</b><br>
        <br><h3>Основные функции приложения:</h3>
        <ul>
            <li>
                <b>Анализ шифров:</b> Исследуйте различные методы шифрования.</li>
            <li>
                <b>Расшифровка сообщений:</b> Попробуйте расшифровать зашифрованные сообщения.</li>
            <li>
                <b>Секретные коды:</b> Погрузитесь в историю создания секретных кодов и шифров и узнайте, как они использовались в разведке и дипломатии.</li>
            <li>
                <b>Современные и классические шифры:</b> Работайте с различными типами шифров, включая шифр Цезаря, шифр Атбаш и многие другие.</li>
        </ul></br>
        <p><b>Сайт CryptoMaster</b> предоставляет вам инструменты, чтобы исследовать мир криптографии и наслаждаться разгадыванием секретных сообщений. У вас есть шанс стать настоящим криптоаналитиком!</p><br>
        <p><b>Криптогра́фия</b> (от др.-греч. κρυπτός «скрытый» + γράφω «пишу») — наука о методах обеспечения конфиденциальности, целостности данных, аутентификации, шифрования. </p>
        <p>Изначально криптография изучала методы шифрования информации — обратимого преобразования открытого (исходного) текста на основе секретного алгоритма или ключа в шифрованный текст (шифротекст). Традиционная криптография образует раздел симметричных криптосистем, в которых зашифровывание и расшифровывание проводится с использованием одного и того же секретного ключа</p>
    </div>
</main>
{% endblock %}